<div class="card border-0 shadow-sm">
    <div class="overflow-hidden rounded-top-3">
        <img src="<%= auto.immagine %>" class="card-img-top car-image" alt="<%= auto.marca %> <%= auto.modello %>">
        <!-- <img src="/assets/home_image.jpg" class="card-img-top car-image"> -->
    </div>
    <div class="card-body p-4">
        <h5 class="card-title fw-bold mb-2">
            <%= auto.marca %>
                <%= auto.modello %>
        </h5>
        <span class="badge bg-warning text-dark mb-3">
            <%= auto.tipologia %>
        </span>
        <span class="badge bg-dark text-light mb-3">
            <%= auto.carburante %>
        </span>
        <div class="d-flex gap-3 mb-3">
            <span><i class="fas fa-tachometer-alt me-1 text-warning"></i>
                <%= auto.velocita %>
            </span>
            <span><i class="fas fa-horse-head me-1 text-warning"></i>
                <%= auto.cavalli %>
            </span>
        </div>
        <p class="fw-bold mb-3"> Da <%= auto.prezzo_giornaliero %> / giorno </p>
        <% if (user.ruolo == 1) { %>
            <p>Totale like: <%- auto.pref_contatore %> </p>
        <% } %>
        <div class="row g-2">
            <div class="col-10">
                <% if (user.ruolo == 0) { %>
                    <a href="/prenotazione/getAuto/<%= auto.id %>" class="btn btn-warning w-100">Prenota Ora</a>
                <% } else if (user.ruolo == 1) { %>
                    <a href="/dashboard/getAuto/<%= auto.id %>" class="btn btn-warning w-100">Modifica</a>
                <% } %>
            </div>
            <div class="col-2">
                <% if (user.ruolo == 0) { %>
                    <% if (preferite_user.find(p => p.id_auto === auto.id)) { %>
                        <form action="/removeAutoPreferita/<%= auto.id %>" class="h-100" method="POST">
                            <button type="submit" class="btn btn-warning w-100 h-100 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                        </form>
                    <% } else { %>
                        <form action="/addAutoPreferita/<%= auto.id %>" class="h-100" method="POST">
                            <button type="submit" class="btn btn-outline-warning w-100 h-100 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                        </form>
                    <% } %>
                <% } else if (user.ruolo == 1) { %>
                    <form action="/dashboard/deleteAuto/<%= auto.id %>" class="h-100" method="POST">
                        <button type="submit" class="btn btn-outline-warning w-100 h-100 d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                <% } %>
            </div>
        </div>
    </div>
</div>