<!DOCTYPE html>
<html lang="it">

<head>
    <%- include('./components/header', {title: 'CarRent | Dashboard' }) %>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-xl-2 d-none d-lg-block bg-dark p-3 vh-100 sticky-top">
                <a href="/" class="d-block mb-4 mt-4">
                    <img src="/assets/noBgColorGold.png" alt="Logo" height="30" />
                </a>
                <ul class="nav flex-column text-light">
                    <li class="nav-item mb-2">
                        <a href="/" class="nav-link ">
                            <i class="fas fa-home me-2"></i> Home
                        </a>
                    </li>
                    <!-- UTENTI STANDARD -->
                    <% if (user.ruolo==0) { %>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link ">
                            <i class="fas fa-car me-2"></i> Prenota un'auto
                        </a>
                    </li>

                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link ">
                            <i class="fas fa-clipboard-list me-2"></i> Le tue prenotazioni
                        </a>
                    </li>

                    <li class="nav-item mb-2">
                        <a href="/dashboard?alert=autoPreferite" class="nav-link ">
                            <i class="fas fa-heart me-2"></i> Le tue auto preferite
                        </a>
                    </li>
                    <% } else if (user.ruolo==1) { %>
                    <!-- UTENTE ADMIN -->
                    <li class="nav-item mb-2">
                        <a href="/dashboard?alert=elencoAuto" class="nav-link ">
                            <i class="fas fa-car-side me-2"></i> Gestisci auto
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link ">
                            <i class="fas fa-tasks me-2"></i> Gestisci prenotazioni
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="/dashboard?alert=elencoPacchetti" class="nav-link ">
                            <i class="fas fa-tasks me-2"></i> Gestisci pacchetti
                        </a>
                    </li>
                    <% } %>
                </ul>
            </div>

            <main class="col-12 col-lg-9 col-xl-10 px-3 py-4">
                <div class="header sticky-top">
                    <h5>Dashboard</h5>
                    <div class="d-flex justify-content-between mb-4 pb-3 border-bottom">
                        <h2>Eccoti <%= user.nome %>
                        </h2>
                        <div class="dropdown d-none d-lg-block">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="userMenu"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                        data-bs-target="#cancellaUtenteModal">Profilo</a></li>
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            </ul>
                        </div>
                        <button class="btn btn-primary d-lg-none" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#menuMobile">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>
                </div>  

                <% if (view === '') { %>
                    <div class="container p-0 d-flex flex-column gap-2">
                        <p>ciao</p>
                    </div>
                <% } else if (view === 'inserimentoAuto') { %>
                    <%- include('./components/dashboard_components/inserimentoAuto') %>
                <% } else if (view === 'elencoAuto') { %>
                    <%- include('./components/dashboard_components/elencoAuto', { auto }) %>
                <% } else if (view === 'modificaAuto') { %>
                    <%- include('./components/dashboard_components/modificaAuto', { auto }) %>
                <% } else if (view === 'autoPreferite') { %>
                    <%- include('./components/dashboard_components/elencoAutoPreferite', {auto, preferite_user }) %>
                <% } else if (view === 'elencoPacchetti') { %>
                    <%- include('./components/dashboard_components/elencoPacchetti', {pacchetti}) %>
                <% } else if (view === 'inserimentoPacchetto') { %>
                    <%- include('./components/dashboard_components/inserimentoPacchetto', {categorie}) %>
                <% } else if (view === 'modificaPacchetto') { %>
                    <%- include('./components/dashboard_components/modificaPacchetto', {pacchetto, categorie}) %>
                <% }  %>
            </main>
        </div>
    </div>

    <div class="offcanvas offcanvas-start w-75 bg-black" tabindex="-1" id="menuMobile">
        <div class="offcanvas-header">
            <a href="/" class="d-block text-center mb-4 mt-4">
                <img src="/assets/noBgColorGold.png" alt="Logo" height="30" />
            </a>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="/" class="nav-link ">
                        <i class="fas fa-home me-2"></i> Home
                    </a>
                </li>
                <% if (user.ruolo == 0) { %>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link">
                        <i class="fas fa-car me-2"></i> Prenota un'auto
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link ">
                        <i class="fas fa-clipboard-list me-2"></i> Le tue prenotazioni
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a href="/dashboard?alert=autoPreferite" class="nav-link ">
                        <i class="fas fa-heart me-2"></i> Le tue auto preferite
                    </a>
                </li>
                <% } else if (user.ruolo == 1) { %>
                <!-- UTENTE ADMIN -->
                <li class="nav-item mb-2">
                    <a href="/dashboard?alert=elencoAuto" class="nav-link ">
                        <i class="fas fa-car-side me-2"></i> Gestisci auto
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link ">
                        <i class="fas fa-tasks me-2"></i> Gestisci prenotazioni
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a href="/dashboard?alert=elencoPacchetti" class="nav-link ">
                        <i class="fas fa-tasks me-2"></i> Gestisci pacchetti
                    </a>
                </li>
                <% } %>
                <div class="dropdown w-100">
                    <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="userMenu"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#cancellaUtenteModal"
                                href="#">Profilo</a></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>

    <%- include('./components/cancellaUtente') %>
    <%- include('./components/toast_notification') %>

    <%- include('./components/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
</body>

</html>