<!DOCTYPE html>
<html lang="it">

<head>
    <%- include('./components/header', {title: 'CarRent | Recensioni' }) %>
</head>

<body>
    <%- include('./components/navbar', {active: '', isAuth}) %>

    <div class="container py-5">
        <div class="recensioni px-lg-5 py-5 bg-dark">
            <div class="text-white p-4 px-lg-5 h-100">
                <div class="container d-flex flex-wrap align-items-center justify-content-between mb-5">
                    <h2 class="fw-bold text-warning mb-0">Cosa dicono di noi</h2>
                    <a href="#" class="btn btn-warning d-flex align-items-center gap-2" data-bs-toggle="modal" data-bs-target="#addRecensioneModal">
                        <i class="fas fa-plus"></i>
                        <span>Aggiungi Recensione</span>
                    </a>
                </div>
                <div class="row g-4">
                    <% if (recensioni.length > 0) { %>
                        <% recensioni.forEach((recensione) => { %>
                            <%- include('./components/card_recensioni', { recensione }) %>
                        <% }) %>
                    <% } else { %>
                        <p class="text-white">Nessuna recensione disponibile.</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <%- include('./components/modal_recensione') %>
    <%- include('./components/toast_notification') %>

    <%- include('./components/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
</body>

</html>