<!DOCTYPE html>
<html lang="it">

<head>
    <%- include('./components/header', {title: 'CarRent | Recensioni' }) %>
</head>

<body>
    <%- include('./components/navbar', {active: '', isAuth}) %>

    <div class="container py-5">
        <div class="recensioni px-lg-5 py-5 bg-dark">
            <div class="text-white p-4 px-lg-5 h-100">
                <h2 class="fw-bold text-center mb-5 text-warning">Cosa dicono di noi</h2>
                <div class="row justify-content-center g-4">
                    <% if (recensioni.length > 0) { %>
                        <% recensioni.forEach((recensione) => { %>
                            <%- include('./components/card_recensioni', { recensione }) %>
                        <% }) %>
                    <% } else { %>
                        <p class="text-white">Nessuna recensione disponibile.</p>
                    <% } %>
                </div>
                <div class="text-center mt-5">
                    <a href="/recensioni" class="btn btn-warning btn-lg mx-auto">Altre recensioni</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('./components/modal_recensione') %>
    <%- include('./components/toast_notification') %>

    <%- include('./components/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
</body>

</html>